services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: bike-project
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./server/db/scripts:/docker-entrypoint-initdb.d

  server:
    build: server
    environment:
      NODE_ENV: development
    ports:
      - "3001:3001"
    volumes:
      - ./server/src:/usr/src/app/src
      - ./server/node_modules:/usr/src/app/node_modules
    command: sh -c "npm ci && npm run dev"
    depends_on:
      db:
        condition: service_started


  web:
    build: app
    ports:
      - "3000:3000"
    volumes:
      - ./app:/app
      - ./app/node_modules:/app/node_modules
    environment:
      NODE_ENV: development
    stdin_open: true
    tty: true
    command: sh -c "npm i --force && npm start"
    depends_on:
      db:
        condition: service_started
      server:
        condition: service_started


volumes:
  mysql-data: